.contact {
  padding: 2rem;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    li {
      margin: 0 .3rem;
      width: auto;
      height: auto;
      padding: 1.8rem;
      background: $color-2;
      border-radius: 100%;


      a {
        height: 100%;
        width: 100%;
        i {
          font-size: 2.5rem;
          margin: auto;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }


}

#contact_me {
  /*border: 1px solid red;*/

  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact_me a {
  border-radius: 50px;
  position: relative;
  width: 90%;
  height: 60px;
  display: inline-block;
  background: #fff;
  margin: 15px;
}

#contact_me a:before,
#contact_me a:after {
  border-radius: 50px;
  content: '';
  position: absolute;
  inset: 0;
  transition: 0.3s;
  background: #f00
}

#contact_me a:nth-child(1):before,
#contact_me a:nth-child(1):after {
  background: linear-gradient(45deg, #47b3ce, var(--cinqcerie), #d400d4)
}

#contact_me a:nth-child(2):before,
#contact_me a:nth-child(2):after {
  background: linear-gradient(45deg, #8300ff, var(--cinqcerie), #c01d34);
}

#contact_me a:nth-child(3):before,
#contact_me a:nth-child(3):after {
  background: linear-gradient(45deg, #5e2368, var(--cinqcerie), #054586);
}

#contact_me a:hover:before {
  inset: -5px;
}

#contact_me a:hover:after {
  inset: -10px;
  filter: blur(10px);
}

#contact_me a span {
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: var(--quatrecerie);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  letter-spacing: 2px;
  color: #fff;
  border: 1px solid var(--quatrecerie);
  overflow: hidden;
}

#contact_me a span::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.075);
  transform: skew(25deg)
}