.experience {
  width: 200px;
  flex-grow: 1;
  margin: 20px;
  padding: 20px;
  height: auto;
  border-radius: $border-radius;
  border: $border-size solid $foreground-color;
  text-decoration: none;
  font-size: 1rem;

  &:hover {
    background-color: $foreground-color;
    color: $background-color;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
  }

  .head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .content {
    margin: 1.5rem;
  }

  .competencesExperience {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    .iconCompetenceExperience {
      width: 40px;
      height: 40px;
    }
  }
}

