.projectCard {
  width: 280px;
  height: 280px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease-out;


  img {
    width: 100%;
    border-radius: 100%;
    opacity: 1;
    transition: opacity 0.5s;

  }

  .content {
    color: $background-color;
    max-width: 240px;
    font-size: 1.5rem;
    opacity: 0;
    position: absolute;
    transition: opacity 1s;
    text-align: center;
  }
}
