.experiencePage {

  width: 60%;
  margin: 0 auto;

  .cardExperience {
    margin: 3rem auto 0 auto;
    width: 90%;
    border: $border-size solid $foreground-color;
    border-radius: $border-radius;
    display: flex;
    padding: 1rem;

    .iconExperience {
      margin: auto 1rem;
      border: $border-size solid $foreground-color;
      border-radius: $border-radius;
      width: auto;
      height: 30%;
      max-height: 250px;
    }

    .description {
      padding: 1rem;
      margin-left: auto;
      margin-right: 1rem;

      .companyNameExperience {
        text-align: end;
        font-size: 1.2rem;
        font-weight: bold;
      }

      h3 {
        text-align: end;
        font-size: 1rem;
        margin-top: .7rem;

      }

      p {
        text-align: end;
        margin: 1rem 0;
      }


      .cardSkillExperience {
        display: flex;
        align-items: center;
        justify-content: center;


        .cardSkill {
          margin: 0.9rem 0;

          img {
            width: 7%;
          }
        }
      }
    }
  }


}