.project {
  width: 60%;
  margin: 0 auto;

  .cardProject {
    margin: 3rem auto 0 auto;
    width: 90%;
    border: $border-size solid $foreground-color;
    border-radius: $border-radius;
    display: flex;
    padding: 1rem;

    .iconProject {
      margin: auto 1rem;
      border: $border-size solid $foreground-color;
      border-radius: $border-radius;
      width : 30%;
      height: 30%;
    }

    .description {
      //flex-grow: 1;
      padding: 1rem;
      margin-left: auto;
      margin-right: 1rem;

      h3 {
        text-align: end;
        font-size: 1rem;
      }

      p {
        text-align: end;
        margin: 1rem 0;
      }

      .cardSkillProject {
        display: flex;
        align-items: center;
        justify-content: center;
        .cardSkill {
        }
      }
    }
  }

  .container {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;

    h1 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 2rem
    }

    h2 {
      margin-top: 3rem;
      margin-bottom: 2rem;
    }

    h3 {
      margin: 1.2rem 0 0.9rem 1rem;
    }

    p {
      margin: 0 2rem;
    }

    img {
      border: 4px solid blue;
    }
  }
}
