@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

$font-JetBrainsMono: monospace;

$background-color: #0f0f0f;
$foreground-color: #f0f0f0;
$border-radius: 25px;
$border-size: 5px;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 99% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem 3rem;
  margin: 1rem auto;
  font-family: $font-JetBrainsMono;
  background: $background-color;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: $foreground-color;
  @media screen and (max-width: 1200px) {
    padding: 0.5rem;
  }
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $foreground-color;
  cursor: pointer;
}

a:visited {
  color: $foreground-color;
}

//.subtitle {
//  margin-top: 1rem;
//  font-size: 1.7em;
//  margin-left: 1.5rem;
//}